---
# If disktype is RAID we use the options:
# -f -K -i size=512 -d sw=%s,su=%sk -n size=8192 where sw is the diskcount and
# su is the stripe_unit_size
- name: Set XFS options for JBOD
  set_fact:
     fs_options: " -f -K -i size=512 -n size=8192 "

- name: Set XFS options for RAID devices
  set_fact:
     raid_options:
        " -d sw={{ gluster_infra_diskcount }},\
             su={{ gluster_infra_stripe_unit_size }}k "
  when: >
      gluster_infra_disktype == 'RAID6' or
      gluster_infra_disktype == 'RAID10'

# Collect the disks from the input file
- name: Get the list of logical volumes for setup
  set_fact:
     gluster_infra_fscreate_lvs:
         "{{ gluster_infra_lv_logicalvols|map(attribute='lvname')|list }}"
  when: gluster_infra_lv_logicalvols is defined

# Do we have a thick volume?
- name: Get the thick volumes to create filesysem
  set_fact:
     gluster_infra_fscreate_lvs:
         "{{gluster_infra_fscreate_lvs|default([])}} +
          ['{{gluster_infra_lv_thicklvname}}']"
  when: gluster_infra_lv_thicklvsize is defined

# We support only XFS. Filesysem options sw, su are specific to XFS
- name: Create a filesystem on the disks
  filesystem:
     fstype: xfs
     dev: "/dev/{{ gluster_infra_vg_name }}/{{ item }}"
     opts: "{{ fs_options }} {{ raid_options | default('') }}"
     force: "{{ gluster_infra_fs_force | default('yes') }}"
  with_items: "{{ gluster_infra_fscreate_lvs }}"
