---

- debug:
   var: gluster_infra_thick_lvs

- debug:
   var: gluster_infra_cache_vars   

- debug:
   var: gluster_infra_mount_devices   

#- meta: end_play

# https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.3/html/administration_guide/brick_configuration
# https://access.redhat.com/documentation/en-US/Red_Hat_Storage/2.1/html/Administration_Guide/chap-Administration_Guide-Performance_Enhancements.html
# https://github.com/solarkennedy/wiki.xkyle.com/wiki/XFS_Block_Sizes
# https://ewen.mcneill.gen.nz/blog/entry/2019-01-08-xfs-storage-layout-considerations/
# https://raid.wiki.kernel.org/index.php/RAID_setup#XFS
# https://wiki.gentoo.org/wiki/LVM/en


# Gather facts to determine the distribution
- name: Gather facts to determine the OS distribution
  setup:
    gather_subset:
      - '!all'
      - '!any'
      - distribution

# Create a logical volume thinpool when thinpoolname is given
- name: Change to Install lvm tools for debian systems.
  package:
    name: thin-provisioning-tools
    state: present
  when: ansible_distribution == "Debian" or ansible_distribution == "Ubuntu"

- name: Change to Install lvm tools for RHEL systems.
  package:
    name: device-mapper-persistent-data
    state: present
  when: ansible_os_family == 'RedHat'

- name: Install python-yaml package for Debian systems
  package:
    name: python-yaml
    state: present
  when: ansible_distribution == "Debian" or ansible_distribution == "Ubuntu"

# Initialize vdo_devs to empty list, vdo_devs would not not be initialized if
# search fails
- name: Initialize vdo_devs array
  set_fact:
     vdo_devs: []

# Get the list of volume groups created on vdo disks
# This is a bit hacky, we rely on pvname to get vdo disks
- name: Record VDO devices (if any)
  set_fact:
     vdo_devs: "{{ vdo_devs|default([]) + [ item.vgname ] }}"
  with_items: "{{ gluster_infra_volume_groups | default([]) }}"
  when: item.pvname is defined and item.pvname is search("/dev/mapper/")

# set lvm config
- name: Configure LVM
  import_tasks: lvm_config.yml
  when: gluster_infra_lvm is defined
  tags:
    - lvmconfig


#phase #1
- name: Create a vdo disk
  import_tasks: vdo_create.yml
  when: gluster_infra_vdo is defined
  tags:
    - vdocreate

- name: "Execute phase #1 of LVM"
  import_tasks: main-lvm.yml

#phase #2
- name: "Create a vdo disk after LVM for phase #2"
  import_tasks: vdo_create.yml
  when: gluster_infra_vdo is defined and gluster_phase2_has_missing_devices is defined and gluster_phase2_has_missing_devices
  tags:
    - vdocreate

- name: "Execute phase #2 of LVM"
  import_tasks: main-lvm.yml
  when: gluster_phase2_has_missing_devices is defined and gluster_phase2_has_missing_devices


# Create a filesystem on the disks.
- name: Create a filesystem on the disks
  import_tasks: fscreate.yml
  when: gluster_infra_lv_logicalvols is defined or
        gluster_infra_thick_lvs is defined
  tags:
    - fscreate

# When VDO is used, upon creation and activation of thinpools discard is not
# possible, because of the misaligned discard size between thinpool and VDO.
# Warning: kernel: device-mapper: thin: Data device (dm-N) max discard sectors
# smaller than a block: Disabling discard passdown. Is displayed.
# To overcome this, add command in service file to set
# /sys/kvdo/max_discard_sectors to 4096 and restart vdo service

- name: Update vdo service to set /sys/kvdo/max_discard_sectors to 4096
  lineinfile:
     path: /usr/lib/systemd/system/vdo.service
     line: 'ExecStartPre=/bin/sh -c "echo 4096 > /sys/kvdo/max_discard_sectors"'
     insertafter: '^ExecStart'
  when: gluster_infra_vdo is defined
  tags:
    - vdocreate

# Restart vdo service
- name: Enable and start vdo service
  service:
    name: vdo
    state: started
    enabled: yes
  when: gluster_infra_vdo is defined
  tags:
    - vdocreate

# Mount the devices
- name: Mount the devices
  import_tasks: mount.yml
  when: gluster_infra_mount_devices is defined and gluster_infra_mount_devices is not none
  tags:
    - mount

# set kernel boot params for lvm volumes
- name: Configure lvm kernel parameters
  import_tasks: lvm_kernelparams.yml
  when: gluster_infra_thick_lvs is defined and gluster_infra_thick_lvs | selectattr("atboot","defined")| selectattr("atboot") | list | length > 0
  tags:
    - lvmkernelparams

# set fstrim service 
- name: Configure fstrim service
  import_tasks: fstrim_service.yml
  when: fstrim_service is defined
  tags:
    - fstrim