# Create a thick logical volume.
- name: Create thick logical volume
  lvol:
     state: present
     vg: "{{ gluster_infra_vg_name }}"
     lv: "{{ item.name }}"
     size: "{{ item.size }}"
  with_items: "{{ gluster_infra_thick_lvs }}"
